{% extends 'base.html' %}
{% block content %}
<h2>Админ-панель</h2>
<ul>
    <li>Пользователи: {{ total_users }}</li>
    <li>Товары: {{ total_products }}</li>
    <li>Заказы: {{ total_orders }}</li>
</ul>
<a href="{{ url_for('admin_bp.admin_products') }}">Управление товарами</a> |
<a href="{{ url_for('admin_bp.admin_orders') }}">Управление заказами</a>
<a href="{{ url_for('admin_bp.order_reports') }}">Отчёты по заказам</a>
<a href="{{ url_for('admin_bp.product_reports') }}">Отчёты по товарам</a>
{% endblock %}
